<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12 col-md-offset-3">
    <div class="course">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <img src="<%= @course.course_image_url %>" alt="">
        </div>
        <div class="panel-body">
          <p class="course-title"><%= @course.name %></p>
          <p class="course-title">楽天口コミの評価：<%= @course.evaluation %></p>
          <div class="buttons text-center">
            <%= render 'wents/gone_button', course: @course %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="gone_users-users">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          「行きたい！」と思ってるユーザ
        </div>
        <div class="panel-body">
          <% @gone_users.each do |user| %>
            <%= link_to user.name, user_path(user) %>
          <% end %>
        </div>
      </div>
    </div>
    
    <p class="text-center"><%= link_to 'Golaページ', @course.detail_url, target: '_blank' %></p>
  </div>
</div>